@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 20px;
  font-size: 4.5rem;
  color: #fff;
  letter-spacing: -1.3px;
}

.App {
  background: #5856d7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table-breakdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f3f3;
  max-width: 820px;
  width: 100%;
  min-width: 500px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
  border-bottom: 10px solid #00C58A;
}

table {
  overflow-x: scroll;
  padding: 10px 0;
  width: 100%;
}

th {
  text-align: left;
  font-size: 1.6rem;
  padding: 10px;
  background: #eaeaea;
  min-width: 120px;
}

td {
  font-size: 1.4rem;
  height: 40px;
  padding: 0 10px;
}

td input {
  padding: 7px 5px;
}

input {
  font-size: 1.4rem;
  width: 100%;
  border: none;
  background: #fff;
  padding: 7px 0 7px 5px;
  border: 1px solid #dadada;
  border-bottom: 3px solid #dadada;
  outline: none;
}

input:focus {
  border-bottom: 3px solid #00C58A;
}

